{% extends "fan_fictions/base.html" %}

{% block header %}
    <h2>{{story}} by Author: {{story.author}}</h2>
{% endblock header %}

{% block content %}
<p><strong>{{entry.title}}</strong> by Author: {{entry.author}}</p>

    {% if user == story.author %}
        <p>
            <a href="{% url 'fan_fictions:edit_entry' entry.id %}">Edit this entry</a>
        </p>
    {% endif %}
<p>
    {{entry.text}}
    <p><a href="{% url 'users:new_comment' story.id entry.id %}">Add a new comment</a></p>
    <p><strong>Comments</strong></p>
    {% for comment in comments %}
        <div class="panel panel-default">
            <h6>
                {{comment.user}}
                <small>
                {{entry.date_added|date:'M d, Y H:i' }}
                </small>
            </h6>

            <div class="panel-body">
                {{comment.text | linebreaks}}
            </div>
        </div> <!-- panel -->

    {% empty %}
        There are no comments.
    {% endfor %}
</p>

{% endblock content %}