{% extends "fan_fictions/base.html" %}

{% block header %}
    <h2>{{story}}</h2>
    <p>Author: {{story.author}}</p>
{% endblock header %}

{% block content %}

{% if story.author == user %}

    <a href="{% url 'fan_fictions:new_entry' story.id %}">Create a new entry for this story</a>
    <a href="{% url 'fan_fictions:edit_story' story.id %}">Edit this story</a>

{% endif %}
<ul>
    {% for entry in entries %}
    <li class="list-group-item">
        <a href="{% url 'fan_fictions:chapter' story.id entry.id %}">{{entry.title}}</a>
    </li>
    {% empty %}
    <li>
        There is no entries for this story yet.
    </li>

    {% endfor %}
</ul>

{% endblock content %}