{% extends "fan_fictions/base.html" %}

{% block header %}
    <h1>{{story}}</h1>
{% endblock header %}

{% block content %}

{% if story.author == user %}
    <p>
        <a href="{% url 'fan_fictions:new_entry' story.id %}">Create a new entry for this story</a>
    </p>
    <p>
        <a href="{% url 'fan_fictions:edit_story' story.id %}">Edit this story</a>
    </p>
{% endif %}
<ul>
    {% for entry in entries %}
    <li>
        <a href="{% url 'fan_fictions:chapter' story.id entry.id %}">{{entry.title}}</a>

    </li>
    {% empty %}
    <li>
        There is no entries for this story yet.
    </li>

    {% endfor %}
</ul>

{% endblock content %}